/* Variables */
// Colors
$white: #fff;
$black: #000;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-120: #e9e9e9;
$grey-125: #e3e3e3;
$grey-150: #c8c8c8;
$blue-50: #e3f2fd;
$blue-300: #64b5f6;
$blue-800: #1565c0;
$blue-900: #0d47a1;
$blue-1200: #093170;
$white-015: rgba(255, 255, 255, 0.10);
$white-210: rgba(210, 210, 210, 0.5);
$black-015: rgba(5, 5, 5, 0.15);
$link-color: #007bff;
$pink-A400: #f50057;
$pink-A900: #ab003c;
$limegreen: limegreen;

// Component color
$navbar-bg-color: $blue-1200;
$main-menu-bg-color: $blue-1200;
$side-menu-bg-color: $blue-1200;
$container-bg-color: $grey-50;
$rounded-button-cta-bg-color: $blue-800;
$navbar-search-bar-bg-color: $white-015;
$customers-search-bar-bg-color: $white-210;
$add-itinerary-text-field-bg-color: $black-015;
$included-item-link-color: $link-color;
$new-event-cta-bg-color: $navbar-bg-color;
$new-event-cta-color: $white;
$daily-event-border-color: $grey-150;
$single-itinerary-bg-color: $white;
$single-itinerary-border-color: $grey-100;
$sign-in-header-bg-color: $navbar-bg-color;
$sign-in-header-color: $white;
$sign-in-header-close-color: $white;
$customers-tabs-background-color: $container-bg-color;
$customers-tabs__add-customer-background-color: $navbar-bg-color;
$customers-tabs__add-customer-color: $white;
$badge__is-online: $limegreen;
$badge__not-online: $pink-A400;
$customers__single-avatar-background-color: $blue-50;
$customers__single-avatar-color: $navbar-bg-color;
$customers__single-background-color: $white;
$customers__single-border-color: $grey-100;
$customer-side-menu-profile-tabs-background-color: $side-menu-bg-color;
$customer-side-menu-notes__background-color: $grey-50;
$customer-side-menu-notes__color: $side-menu-bg-color;
$nested-main-menu__collapsed-background-color: $side-menu-bg-color;
$new-invoice__color: $side-menu-bg-color;

// Custom Variables
$itinerary-side-menu-width: 15%;

/* Mixins */
@mixin light-box-shadow {
  -webkit-box-shadow: 10px 6px 78px -31px rgba(102,101,102,1);
  -moz-box-shadow: 10px 6px 78px -31px rgba(102,101,102,1);
  box-shadow: 10px 6px 78px -31px rgba(102,101,102,1);
}

@mixin transition-ease-in-out {
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transition: all 0.3s 0.1s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
}

@mixin transition-ease-out {
  -webkit-transition: all 0.3s 0.1s ease-out;
  -moz-transition: all 0.3s 0.1s ease-out;
  -o-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

@mixin daily-event-style {
  border: 1px solid $daily-event-border-color;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
  min-height: 100px;
  @include transition-ease-out;
}

/* Bootstrap Reset */
.container {
	background: $container-bg-color;
	width: 100%;
	padding-left: 15%;
  padding-right: 15%;

  @media screen and (max-width: 1700px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
	margin-right: 0;
	margin-left: 0;
}

/* General */
body {
  box-sizing: border-box;
}

a {
	&:hover {
		text-decoration: none;
	}
}

#rounded-button {
  outline: none;
  background: $rounded-button-cta-bg-color;

  .spinner {
    width: 35px;
    height: 35px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

#text-button {
  outline: none;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.badge__not-online {
  .MuiBadge-badge {
    background: $white;
    border: 2px solid $badge__not-online;
  }
}

.badge__is-online {
  .MuiBadge-badge {
    background: $white;
    border: 2px solid $badge__is-online;
  }
}

.text-with-read-more {
	.read-more {
		color: $link-color;
		text-transform: lowercase;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

.short-text-hidden {
	display: none;
}

.medium-text-hidden {
	display: none;
}

.long-text-hidden {
	display: none;
}

.short-text-displayed {
	display: block;
}

.medium-text-displayed {
	display: block;
}

.long-text-displayed {
	display: block;
}

.MuiPaper-root {
  .MuiTabs-root {
    .MuiButtonBase-root {
      outline: none;
    }
  }
}

.MuiTable-root {
  min-width: 350px;
}

/* Components */
.mini-card {
  border-radius: 7px;
  background: $white;
  min-width: 160px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding: 5px 0 5px 15px;
  @include light-box-shadow;

  @media screen and (max-width: 611px) {
    width: 100%;
  }

  .card-content {
    h2 {
      font-size: 2em;
      margin-block-end: 0;
    }
  }
}

.search-bar {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  padding: 0 15px;

  .search-icon {
    display: flex;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
  }
}

.text-field {
  display: flex;
  flex-direction: column;

  .text-input {
    border-radius: 7px;
    
    input {
      text-indent: 15px;
    }
  }
}

.text-area-field {
  .MuiOutlinedInput-multiline,
  .MuiInputBase-multiline {
    padding: 0;
  }

  #text-area-input {
    text-indent: 15px;
    padding: 18.5px 14px;
  }
}

.upload-image {
  display: flex;
  align-items: baseline;
}

.MuiDrawer-paperAnchorRight {
  width: 600px;
}

.included-item-drawer {
  padding: 10px;

  .text-field {
    margin-bottom: 30px;
  }
}

.c-page-header {
  width: 100%;
  overflow-y: hidden;

  .cover {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;

    .update-trip-info {
      width: 100%;
      background: rgba(5, 5, 5, 0.3);

      label {
        cursor: pointer;
      }

      #text-button {
        color: $white;
      }
    }

    .update-trip-info__hidden {
      display: none;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-page-header__title {
    display: flex;
    align-items: center;

    .c-page-header__add-customer,
    .c-page-header__invoices,
    .c-page-header__new-invoice {
      margin-left: 15px;

      #text-button {
        background: $customers-tabs__add-customer-background-color;
        color: $customers-tabs__add-customer-color;
      }
    }

    .c-page-header__new-invoice {
      #text-button {
        margin-right: 15px;
      }

      .c-page-header__preview {
        background: lightgray !important;
        color: $black !important;
      }

      .c-page-header__save-draft {
        background: lightgray !important;
        color: $black !important;
      }
    }
  }
}

.not-visible {
  display: none !important;
}

.is-visible {
  display: block;
}

#icon-button {
  outline: none;
}

.layout {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  .navbar {
    width: 100%;
    height: 6vh;
    padding: 5px 5px 0 5px;

    .inner {
      background: $navbar-bg-color;
      border-radius: 7px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 25px;
        width: 20%;
  
        a {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .search {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-bar {
          height: 80%;
          background: $navbar-search-bar-bg-color;

          .search-icon {
            svg {
              fill: $white;
            }
          }

          input {
            @include transition-ease-in-out;
            width: 170px;
            color: $white;

            &:focus {
              width: 230px;
            }
          }
        }
      }

      .profile {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: flex-end;

        .profile-details {
          ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;

            li {
              color: $white;
              display: flex;
              align-items: center;
              justify-content: space-around;
              font-size: 15px;

              &:nth-child(2), &:nth-child(3) {
                margin-left: 20px;
              }

              &:last-child {
                margin-left: 35px;
                margin-right: 25px;
              }

              button {
                outline: none;

                svg {
                  fill: $white;
                }
              }

              .sign-in-trigger-wrapper {
                cursor: pointer;
              }
            }
          }
        }
      }

      .back-to-itineraries {
        display: flex;
        align-items: center;
        margin-left: 15px;

        a {
          button {
            display: flex;
            align-items: center;
            color: $white;

            svg {
              font-size: 14px;
            }
          }
        }
      }

      .save-itinerary {
        display: flex;
        align-items: center;
        margin-right: 10px;

        button {
          display: flex;
          align-items: center;
          color: $white;

          svg {
            font-size: 21px;
          }
        }
      }
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    height: 94vh;
    padding: 5px;
    position: relative;

    .main-menu {
      width: 120px;
      height: auto;
      background: $main-menu-bg-color;
      color: $white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include light-box-shadow;
  
      .inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
  
        .main-navigation {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 30px;
  
          .main-navigation-icon {
            color: $white;
            margin-bottom: 45px;

            .MuiIconButton-colorInherit {
              .MuiIconButton-label {
                svg {
                  font-size: 2.2em;
                  cursor: pointer;
                }
              }
            }
  
            svg {
              font-size: 2.2em;
              cursor: pointer;
            }
          }
        }
  
        .logout {
          display: flex;
          align-items: center;
          justify-content: center;
  
          .main-navigation-icon {
            color: $white;
            margin-bottom: 40px;
  
            svg {
              font-size: 2.2em;
              cursor: pointer;
            }
          }
        }
      }
    }

    .main-menu__itinerary-page {
      width: $itinerary-side-menu-width;
    }

    .main-menu__no-box-shadow, .side-menu__no-box-shadow {
      box-shadow: none !important;
    }

    .nested-main-menu {
      position: relative;
      background: $blue-1200;
      width: 240px;
      border-radius: 15px;
      @include transition-ease-in-out;

      #nested-list-subheader {
        color: $white;
        border-radius: 15px;
      }

      .inner {
        .main-navigation {
          color: $white;

          svg {
            color: $white;
          }

          .main-navigation-icon {
            color: $white;
          }

          .MuiCollapse-container {
            .MuiListItem-root {
              padding-left: 32px;
            }
          }

          .MuiListItemText-root {
            transition-delay: 5s;
          }

          .MuiListItem-button {
            margin-bottom: 8px;
          }
        }

        .logout {
          color: $white;
          padding-top: 25px;
        }

        svg {
          color: $white;
        }
      }

      .nested-main-menu__minimize {
        position: absolute;
        right: -13px;
        bottom: 100px;
        background: $white;
        border-radius: 50%;
        @include light-box-shadow;
        cursor: pointer;
        border: 1px solid $grey-150;

        svg {
          font-size: 1.6em;
          color: $side-menu-bg-color;
        }
      }
    }

    .nested-main-menu__minimized {
      width: 55px !important;
      
      #nested-list-subheader {
        height: 80px;

        span {
          display: none;
        }
      }

      .inner {
        .main-navigation {
          .MuiListItemText-root {
            display: none;
          }

          .MuiListItem-button {
            margin-bottom: 20px;
          }

          .MuiCollapse-container {
            position: absolute;
            background: $nested-main-menu__collapsed-background-color;
            z-index: 100;
            width: 220px;
            border-radius: 15px;
            margin-left: 10px;

            .MuiListItemText-root {
              display: block;
            }
          }

          .nested-main-menu__collapsing-btn {
            display: flex;
            flex-direction: column;

            .MuiListItemIcon-root {
              display: flex;
              justify-content: center;
            }

            .nested-main-menu__collapsing-icon {
              display: none;
            }
          }

          .nested-main-menu__collapsing-btn-inverse {
            background: $white;
            margin-bottom: 0;

            svg {
              color: $nested-main-menu__collapsed-background-color;
            }
          }
        }

        .logout {
          padding-top: 10px;

          .MuiListItemText-root {
            display: none;
          }
        }
      }
    }

    .add-itinerary-menu {
      width: 220px;

      .inner {
        width: 85%;

        .MuiTabs-root {
          .MuiTabs-scroller {
            .MuiTabs-flexContainer {
              margin-top: 20px;

              .MuiTab-root {
                border: 1px solid $white;
                color: $white;
                outline: none;
                width: 100%;
                min-width: 100%;
                padding: 6px 8px;
                margin-bottom: 20px;
                min-height: 0;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.10);
                }
              }
            }
          }
        }

        button {
          border: 1px solid $white;
          color: $white;

          &:hover {
            background-color: rgba(255, 255, 255, 0.10);
          }
        }
      }
    }

    .main-content {
      width: 100%;
      height: auto;
      overflow-y: auto;
      padding-right: 45px;
  
      .content {
        padding: 10px 2% 0 2%;
      }
  
      .footer {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        padding-bottom: 5px;
      }
    }
  
    .side-menu {
      height: auto;
      width: 350px;
      background: $side-menu-bg-color;
      color: $white;
      border-radius: 15px;
      @include light-box-shadow;
      @include transition-ease-in-out;
      position: absolute;
      right: 0;
      height: 93vh;
      width: 250px;
      margin-right: 5px;

      .side-menu-tabs {
        position: relative;
        height: 100%;

        .MuiPaper-root {
          .MuiTabs-root {
            .MuiButtonBase-root {
              min-width: 0;
              outline: none;
            }
          }
        }

        .side-menu-tabs__minimize {
          position: absolute;
          top: 150px;
          left: -13px;
          background: $white;
          border-radius: 50%;
          @include light-box-shadow;
          cursor: pointer;
          border: 1px solid $grey-150;

          svg {
            font-size: 1.6em;
            color: $side-menu-bg-color;
          }
        }
      }
    }

    .side-menu__itinerary-page {
      width: $itinerary-side-menu-width;
    }

    .side-menu__minimized {
      width: 40px !important;

      .side-menu-tabs {
        header {
          display: none;
        }

        .MuiButtonBase-root {
          display: none;
        }
      }
    }
  }
}

.home-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;

  .inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mini-card:nth-child(4) {
      margin-right: 0;
    }
  }
}

.itineraries-section-1 {
  width: 100%;

  .inner {
    .add-itinerary-url {
      margin-right: 25px;
    }
  }
}

.itineraries-section-2 {
  width: 100%;

  .inner {
    margin-top: 40px;

    .single-itinerary {
      cursor: pointer;

      .trip-cover {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiAvatar-root {
          width: 60px;
          height: 60px;
          border: 1px solid $grey-150;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .trip-details {
        padding-left: 15px;
      }

      .MuiTableCell-alignRight {
        text-align: left;
      }
    }

    .c-itineraries-table__delete-tooltip {
      .spinner {
        width: 30px;
        height: 30px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.c-add-itinerary {
  width: 100%;

  .inner {
    margin-top: 30px;

    .text-field {
      width: 100%;
      margin-bottom: 30px;
    }

    .text-area-field {
      width: 100%;
      margin-bottom: 30px;

      #text-area-input {
        width: 100%;
        text-indent: 10px;
        padding-top: 10px;
      }
    }

    .MuiFormControl-root {
      width: 100%;
    }

    .MuiTypography-root {
      .MuiBox-root {
        padding: 0 !important;
      }
    }

    .upload-image {
      margin-bottom: 30px;
    }

    .included-container {
      margin-bottom: 30px;

      .title {
        margin-bottom: 10px;
      }

      .included-item-link {
        display: flex;
        align-items: center;
        outline: none;
        color: $included-item-link-color;
      }
    }

    .itinerary-price-type {
      width: 100%;
      display: flex;
      justify-content: flex-start;

      .text-field {
        margin-right: 20px;
        width: 50%;
      }

      .price-type-form-control {
        width: initial;

        .price-type-radio-group {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }
    }

    .calendar-wrapper {
      display: flex;
      justify-content: flex-start;

      .calendar-container {
        margin-bottom: 30px;
        margin-right: 10px;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .current-day-title {
        display: flex;
        justify-content: flex-start;

        h4 {
          margin-right: 18px;
        }

        .c-add-itinerary__remove-icon {
          cursor: pointer;
          margin-top: -2px;

          svg {
            width: 20px;
            color: $pink-A400;
          }

          svg:hover {
            color: $pink-A900;
          }
        }
      }

      .new-events-container {
        z-index: 200;

        .new-event-cta {
          background: $new-event-cta-bg-color;
          color: $new-event-cta-color;
        }

        .list {
          position: absolute;
          background: $white;
          transform: translateX(-135px);
          z-index: 101;
          @include light-box-shadow;
          margin-top: 10px;
        }
      }

      .manage-trip-info__cta {
        background: $new-event-cta-bg-color;
        color: $new-event-cta-color;
        outline: none;
      }
    }

    .trip-info__content {
      .trip-info__content-item {
        margin-bottom: 30px;

        .trip-info__content-item-inner {
          display: flex;
          justify-content: flex-start;

          .trip-info__inner-title {
            white-space: nowrap;
            margin-right: 15px;
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 0;
            margin-block-start: 0;
          }

          .text-field {
            margin-bottom: 0;
          }

          .trip-info__inner-icon {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }

    .daily-events {
      width: 100%;

      .daily-event {
        @include daily-event-style;
        
        &:hover {
          @include light-box-shadow;
        }

        .details-section {
          display: flex;
          justify-content: space-between;

          .event-details {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }

          .edit-container {
            display: flex;
            align-items: center;

            .MuiAvatar-root {
              cursor: pointer;
            }
          }
        }

        .title-section {
          margin-bottom: 15px;
        }

        .event-info {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 25px;

          .info-item {
            margin-right: 25px;
          }
        }

        .event-cost {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 25px;

          .info-item {
            margin-right: 25px;
          }
        }

        .event-notes {
          margin-bottom: 15px;
        }
      }
    }

    .no-events-added {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.footer-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;

  .inner {
    width: 90%;

    .copyright-and-more {
      display: flex;
      justify-content: space-between;

      .copyright {
        width: 45%;
        white-space: nowrap;
      }

      .logo {
        width: 10%;
        display: flex;
        justify-content: center;

        a {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .poweredby {
        width: 45%;
        display: flex;
        justify-content: flex-end;

        small {
          a {
            img {
              height: 22px;
              width: 65px;
            }
          }
        }
      }
    }
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(20, 20, 20, 0.5);
  z-index: 1000;

  .modal-wrapper {
    min-height: 250px;
    background: $white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    overflow-y: auto;

    .modal-inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        height: 110px;

        .close {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 5px;

          button {
            background: none;
            border: none;
            outline: none;
            margin-top: 4px;
  
            svg {
              color: $black;
              cursor: pointer;
              font-size: 2.3em;
            }
          }
        }

        .header-content {
          .title {
            text-align: center;
          }
        }
      }

      .trip-information {
        margin-top: 30px;
        margin-bottom: 60px;

        h4 {
          margin-bottom: 30px;
        }

        .trip-information__content {
          @include daily-event-style;

          p {
            span {
              font-weight: bold;
            }
          }
        }
      }

      .c-add-itinerary {
        .inner {
          margin-top: 30px;

          .header {
            justify-content: flex-start;

            .new-events-container {
              display: none;
            }
          }

          .daily-events {
            margin-bottom: 60px;

            .daily-event {
              @include daily-event-style;

              .details-section {
                .edit-container {
                  display: none;
                }
              }
            }
          }
        }
      }

      #rounded-button {
        margin-bottom: 100px;
      }

      .c-generic-modal-form {
        width: 90%;
        padding-bottom: 60px;

        .text-field, .text-area-field {
          width: 100%;

          .MuiFormControl-root {
            width: 100%;
          }
        }

        #rounded-button {
          margin: 10px 0 25px;
          width: 100%;
        }

        .rotate-form {
          width: 100%;
          display: flex;
          justify-content: center;

          .text {
            .cta {
              color: $link-color;
              cursor: pointer;
            }
          }
        }

        .sign-up-success-link {
          color: $link-color;
          cursor: pointer;
        }
      }
    }

    .modal-inner-without-padding {
      width: 100%;

      .header {
        background-color: $sign-in-header-bg-color;
        color: $sign-in-header-color;

        .close {
          button {
            svg {
              color: $sign-in-header-close-color;
            }
          }
        }
      }
      
      .c-generic-modal-form {
        padding-top: 20px;
      }
    }

    .modal-inner-with-padding {
      width: 90%;
    }
  }

  .small-modal-wrapper {
    width: 320px;
    height: 150px;
  }

  .medium-modal-wrapper {
    width: 450px;
    height: 75%;
  }

  .large-modal-wrapper {
    width: 700px;
    height: 90%;
  }
}

.event-categories {
  height: 224px;
  display: flex;
  flex-grow: 1;
  background-color: $white;
  width: 100%;

  .tabs {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    width: 28%;

    .MuiButtonBase-root {
      outline: none;
    }
  }

  .event-categories-panel {
    width: 72%;

    .flight-direction-radio-group {
      flex-direction: row;
      margin-bottom: 15px;
    }
  }
}

.flight-event {
  width: 100%;

  .text-field {
    margin-bottom: 30px;
  }
}

.add-itinerary, .manage-itinerary {
  .spinner {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.c-itinerary-event-manager {
  width: 100%;

  .text-field {
    margin-bottom: 30px;
  }

  .c-itinerary-event-manager__cta-group {
    display: flex;
    justify-content: space-between;
  }
}

.c-customers {
  width: 100%;
  margin-top: 15px;

  .overlay {
    .c-customers-tabs {
      .MuiAppBar-colorDefault {
        background: $customers-tabs-background-color;

        .MuiButtonBase-root {
          box-shadow: none;
          outline: none;
          min-width: 50px;
        }

        .MuiTabs-flexContainer {
          width: 250px;
        }

        .c-customers-tabs__header-wrapper {
          display: flex;
          justify-content: space-between;

          .c-customers-tabs__search-bar-wrapper {
            .search-bar {
              height: 80%;
              background: $customers-search-bar-bg-color;
            }
          }
        }
      }

      .MuiPaper-elevation4 {
        box-shadow: none;
        border-bottom: 1px solid lightgray;
      }

      .c-customer-tab-content {
        height: 80vh;
      }
    }
  }
}

.c-customers-all-tab-content__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    @media screen and (min-width: 1250px) {
      display: grid;
      grid-template-columns: repeat(3, 33%);
    }

    @media screen and (max-width: 925px) {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: none;
    }

    .c-customers-all-tab-content__single-wrapper {
      width: 250px;
      height: auto;
      margin-bottom: 30px;
      cursor: pointer;

      .c-customers-all-tab-content__single {
        width: 100%;
        height: auto;
        border-top: 2px solid $customers__single-border-color;
        border-right: 2px solid $customers__single-border-color;
        border-left: 2px solid $customers__single-border-color;
        background: $customers__single-background-color;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        @include transition-ease-out;

        &:hover {
          @include light-box-shadow;
        }

        .c-customers-all-tab-content__single-more {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          .MuiIconButton-root {
            margin-right: 5px;
            margin-top: 5px;
            padding: 0;
            outline: none;
          }
        }

        .c-customers-all-tab-content__single-avatar-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;

          .c-customers-all-tab-content__single-avatar {
            .MuiAvatar-root {
              width: 90px;
              height: 90px;
              background: $customers__single-avatar-background-color;
              color: $customers__single-avatar-color;
            }

            .MuiAvatar-dot {
              height: 6px;
              min-width: 6px;
              border-radius: 6px;
            }
          }
        }

        .c-customers-all-tab-content__single-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px 0;

          .name {
            font-weight: bold;
            margin-bottom: 5px;
          }

          .email {
            margin-bottom: 5px;
          }
        }
      }

      .c-customers-all-tab-content__single-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $customers__single-border-color;
        background: $grey-100;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        .c-customers-all-tab-content__single-button {
          width: 100%;
          height: 45px;
          border-right: 1px solid $grey-125;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $grey-100;
          color: $black;
          @include transition-ease-out;

          &:nth-child(1) {
            border-bottom-left-radius: 15px;
          }

          &:last-child {
            border-bottom-right-radius: 15px;
            border-right: none;
          }

          &:hover {
            background: $white;
          }

          span {
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.c-customer-side-menu {
  .c-customer-side-menu__profile-wrapper {
    .c-customer-side-menu__close-profile {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      #text-button {
        color: $white;
      }
    }

    .c-customer-side-menu__profile-avatar {
      width: 100%;
      display: flex;
      justify-content: center;

      .c-customer-side-menu__single-avatar {
        .MuiAvatar-root {
          width: 90px;
          height: 90px;
          background: $customers__single-avatar-background-color;
          color: $customers__single-avatar-color;
        }

        .MuiAvatar-dot {
          height: 6px;
          min-width: 6px;
          border-radius: 6px;
        }
      }
    }

    .c-customer-side-menu__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;

      .name {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .email {
        margin-bottom: 5px;
      }
    }

    .c-customers-side-menu-tabs {
      .MuiAppBar-colorDefault {
        background: $customer-side-menu-profile-tabs-background-color;

        .MuiButtonBase-root {
          box-shadow: none;
          outline: none;
          min-width: 50px;
        }

        .MuiTabs-flexContainer {
          width: 250px;
        }

        .c-customers-side-menu-tabs__header-wrapper {
          display: flex;
          justify-content: space-between;

          .MuiTab-textColorPrimary {
            color: $white;
          }
          .PrivateTabIndicator-colorPrimary-2 {
            background-color: $white;
          }
        }
      }

      .MuiPaper-elevation4 {
        box-shadow: none;
      }

      .c-customers-side-menu-tabs__content {
        .MuiBox-root {
          padding: 24px 5px;
        }

        .MuiBox-root-21 {
          padding: 0;
        }

        .c-customers-side-menu-tabs__add-itinerary-btn-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .c-customers-side-menu-tabs__add-itinerary-btn {
            color: $white;
          }
        }

        .c-customers-side-menu-tabs__notes-wrapper {
          .c-customers-side-menu-tabs__notes {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 220px;
            overflow-y: auto;
            background: $customer-side-menu-notes__background-color;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 8px;

            .c-customers-side-menu-tabs__note {
              width: 100%;
              margin-bottom: 20px;
              display: flex;
              flex-direction: column;
              color: $customer-side-menu-notes__color;

              .c-customers-side-menu-tabs__note-date {
                background: $customer-side-menu-notes__color;
                color: $customer-side-menu-notes__background-color;
                text-align: center;
                border-radius: 6px;
                padding: 2px 10px;
                margin-bottom: 7px;
              }
            }

            .c-customers-side-menu-tabs__see-more-notes {
              color: $customer-side-menu-notes__color;
              cursor: pointer;
            }
          }

          .c-customers-side-menu-tabs__notes-btn-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
  
            .c-customers-side-menu-tabs__notes-btn {
              color: $white;
            }
          }
        }
      }
    }

    .c-customer-side-menu__full-profile-btn-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .c-customer-side-menu__full-profile-btn {
        color: $white;
        border: 1px solid $white;
      }
    }
  }
}

.c-add-customer-notes {
  .c-add-customer-notes__date {
    span {
      font-weight: bold;
    }
  }
}

.c-customer-profile {
  .c-customer-profile-tabs {
    .MuiPaper-elevation4 {
      box-shadow: none;
    }

    .MuiAppBar-colorDefault {
      background: #fafafa;
    }
  }
}

.c-customer-details-tab {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 950px) {
   flex-direction: column;
  }

  .c-customer-info {
    margin-right: 10px;

    .MuiTableCell-head {
      white-space: nowrap;
    }
  }

  .c-customer-billing {
    margin-left: 10px;
  }
}

.c-invoices-table {
  width: 100%;

  .c-invoices-table__customer-cell {
    display: flex;
    justify-content: flex-start;

    .MuiAvatar-root {
      background: coral;
    }
  }

  .c-invoices-table__status-select {
    flex: 1 1 100%;

    .MuiFormControl-root {
      width: 160px;
    }
  }
}

.c-new-invoice {
  width: 100%;
  min-width: 680px;
  margin-top: 30px;

  .c-new-invoice__invoice {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px;
    background: $white;

    .c-new-invoice__company-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;

      .c-new-invoice__company-logo {
        text-align: center;
        border: 1px dashed lightgray;
        border-radius: 10px;
        padding: 20px;
        width: 250px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .c-new-invoice__company-info {
        display: flex;
        justify-content: space-around;

        .c-new-invoice__company-representative-contact {
          text-align: right;
          margin-right: 30px;

          span {
            font-size: 14px;
          }

          .c-new-invoice__company-name {
            .c-new-invoice__company-name-value--hidden {
              display: none;
            }

            .c-new-invoice__edit-company-name-value--hidden {
              display: none;
            }
          }

          .c-new-invoice__company-representative-name {
            .c-new-invoice__company-rep-name--wrapper {
              white-space: nowrap;

              .c-new-invoice__rep-first-name--hidden {
                display: none;
              }

              .c-new-invoice__rep-last-name--hidden {
                display: none;
              }
            }

            .c-new-invoice__edit-company-rep-name--wrapper {
              white-space: nowrap;

              .c-new-invoice__edit-rep-first-name--hidden {
                display: none;
              }

              .c-new-invoice__edit-rep-last-name--hidden {
                display: none;
              }
            }
          }

          .c-new-invoice__company-representative-number {
            .c-new-invoice__rep-phone-number {
              white-space: nowrap;
            }

            .c-new-invoice__rep-phone-number--hidden {
              display: none;
            }

            .c-new-invoice__edit-rep-phone-number {
              white-space: nowrap;
            }

            .c-new-invoice__edit-rep-phone-number--hidden {
              display: none;
            }
          }
        }

        .c-new-invoice__company-address {
          display: flex;
          flex-direction: column;
          text-align: right;

          span {
            font-size: 14px;
          }

          .c-new-invoice__street-address--wrapper {
            .c-new-invoice__street-address {
              white-space: nowrap;
            }

            .c-new-invoice__street-address--hidden {
              display: none;
            }

            .c-new-invoice__edit-street-address {
              white-space: nowrap;
            }

            .c-new-invoice__edit-street-address--hidden {
              display: none;
            }
          }

          .c-new-invoice__city-state--wrapper {
            .c-new-invoice__company-city-state {
              .c-new-invoice__city {
                white-space: nowrap;
              }

              .c-new-invoice__city--hidden {
                display: none;
              }

              .c-new-invoice__edit-city {
                white-space: nowrap;
              }

              .c-new-invoice__edit-city--hidden {
                display: none;
              }

              .c-new-invoice__state {
                white-space: nowrap;
              }

              .c-new-invoice__state--hidden {
                display: none;
              }

              .c-new-invoice__edit-state {
                white-space: nowrap;
              }

              .c-new-invoice__edit-state--hidden {
                display: none;
              }
            }
          }
        }
      }
    }

    .c-new-invoice__client-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .c-new-invoice__billed-to {
        display: flex;
        flex-direction: column;

        span {
          font-size: 14px;
        }

        .c-new-invoice__billed-to-title {
          color: $new-invoice__color;
          font-weight: 500;
        }
      }

      .c-new-invoice__billed-to-date {
        .c-new-invoice__date-issued {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          span {
            font-size: 14px;
          }

          .c-new-invoice__date-issued-title {
            color: $new-invoice__color;
            font-weight: 500;
          }

          .c-new-invoice__date {
            font-size: 14px;
            border: none;
            padding: 0;
            width: 80px;
          }

          .c-new-invoice__date--wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
              font-size: 16px;
              cursor: pointer;
            }

            .c-date-picker-container {
              .react-date-picker__wrapper {
                border: none;

                .react-date-picker__clear-button {
                  display: none;
                }
              }
            }
          }
        }

        .c-new-invoice__due-date {
          display: flex;
          flex-direction: column;

          span {
            font-size: 14px;
          }

          .c-new-invoice__due-date-title {
            color: $new-invoice__color;
            font-weight: 500;
          }

          .c-new-invoice__date {
            font-size: 14px;
            border: none;
            padding: 0;
            width: 80px;
          }

          .c-new-invoice__date--wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
              font-size: 16px;
              cursor: pointer;
            }

            .c-date-picker-container {
              .react-date-picker__wrapper {
                border: none;

                .react-date-picker__clear-button {
                  display: none;
                }
              }
            }
          }
        }
      }

      .c-new-invoice__invoice-id {
        .c-new-invoice__invoice-number {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          span {
            font-size: 14px;
          }

          .c-new-invoice__invoice-number-title {
            color: $new-invoice__color;
            font-weight: 500;
          }

          .c-new-invoice__number--hidden {
            display: none;
          }

          .c-new-invoice__edit-number--hidden {
            display: none;
          }
        }

        .c-new-invoice__reference-number {
          display: flex;
          flex-direction: column;

          span {
            font-size: 14px;
          }

          .c-new-invoice__reference-number-title {
            color: $new-invoice__color;
            font-weight: 500;
          }

          .c-new-invoice__number--hidden {
            display: none;
          }

          .c-new-invoice__edit-number--hidden {
            display: none;
          }
        }
      }

      .c-new-invoice__amount-due {
        display: flex;
        flex-direction: column;

        span {
          font-size: 14px;
        }

        .c-new-invoice__amount-due-title {
          color: $new-invoice__color;
          font-weight: 500;
        }

        .c-new-invoice__amount {
          font-size: 2.4em;
        }
      }
    }

    .c-new-invoice__invoice-message {
      border-bottom: 3px solid $new-invoice__color;
      padding-bottom: 35px;

      .c-new-invoice__message {
        font-size: 14px;
      }
    }

    .c-new-invoice__invoice-breakdown {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 15px;

      .c-new-invoice__row--titles {
        display: flex;
        justify-content: space-between;

        .c-new-invoice__description--title {
          width: 60%;

          .c-new-invoice__title {
            color: $new-invoice__color;
            font-weight: 500;
            font-size: 14px;
          }
        }

        .c-new-invoice__totals {
          width: 40%;
          display: flex;
          justify-content: space-between;

          span {
            color: $new-invoice__color;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 10px;
          }

          .c-new-invoice__unit-cost--title {
            width: 62px;
          }

          .c-new-invoice__qty--title {
            width: 24px;
          }
        }
      }

      .c-new-invoice__row--line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid $grey-125;
        padding-bottom: 5px;

        .c-new-invoice__description--item {
          display: flex;
          flex-direction: column;
          width: 60%;

          .c-new-invoice__item--item-name {
            font-size: 13px;
          }

          .c-new-invoice__item--item-name--hidden {
            display: none;
          }

          .c-new-invoice__item--edit-item-name--hidden {
            display: none;
          }

          .c-new-invoice__item--item-desc--hidden {
            display: none;
          }

          .c-new-invoice__item--edit-item-desc--hidden {
            display: none;
          }

          .c-new-invoice__item--item-desc {
            font-size: 13px;
            color: lightslategrey;
          }
        }

        .c-new-invoice__totals--items {
          display: flex;
          justify-content: space-between;
          width: 40%;

          .c-new-invoice__unit-cost-item--content {
            display: flex;
            flex-direction: column;
            width: 62px;

            span {
              text-align: right;
              font-size: 13px;
            }

            .c-new-invoice__edit-item--price {
              width: 80px;
            }

            .c-new-invoice__item--price--hidden {
              display: none;
            }

            .c-new-invoice__edit-item--price--hidden {
              display: none;
            }

            .c-new-invoice__item--tax {
              color: lightslategrey;
            }
          }

          .c-new-invoice__qty-item--content {
            width: 24px;
            font-size: 13px;
          }

          .c-new-invoice__edit-qty-item--content {
            width: 40px;
          }

          .c-new-invoice__qty-item--content--hidden {
            display: none;
          }

          .c-new-invoice__edit-qty-item--content--hidden {
            display: none;
          }

          .c-new-invoice__total-amount--content {
            font-size: 13px;
          }

          .c-new-invoice__edit-total-amount--content {
            width: 80px;
          }

          .c-new-invoice__total-amount--content--hidden {
            display: none;
          }

          .c-new-invoice__edit-total-amount--content--hidden {
            display: none;
          }
        }
      }

      .c-new-invoice__row--add-line {
        width: 100%;
        border: 1px dashed lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        color: $black;
        cursor: pointer;
        border-radius: 8px;

        &:hover {
          background: rgba(230, 230, 230, 0.5);
        }

        .c-new-invoice__row--add-line--text {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            color: lightslategray;
            font-size: 1.5em;
          }
        }
      }
    }

    .c-new-invoice__invoice-summary {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 80px;

      .c-new-invoice__invoice-summary-inner {
        width: 215px;

        .c-new-invoice__subtotal {
          display: flex;
          justify-content: space-between;

          .c-new-invoice__title {
            width: 30%;
            display: flex;
            justify-content: flex-end;

            span {
              color: $new-invoice__color;
              font-weight: 500;
              font-size: 13px;
            }
          }

          .c-new-invoice__amount {
            width: 70%;
            display: flex;
            justify-content: flex-end;

            span {
              font-size: 13px;
            }
          }
        }

        .c-new-invoice__tax {
          display: flex;
          justify-content: space-between;

          .c-new-invoice__title {
            width: 30%;
            display: flex;
            justify-content: flex-end;

            span {
              color: $new-invoice__color;
              font-weight: 500;
              font-size: 13px;
            }
          }

          .c-new-invoice__amount {
            width: 70%;
            display: flex;
            justify-content: flex-end;

            span {
              font-size: 13px;
            }
          }
        }

        .c-new-invoice__total {
          display: flex;
          justify-content: space-between;

          .c-new-invoice__title {
            width: 30%;
            display: flex;
            justify-content: flex-end;

            span {
              color: $new-invoice__color;
              font-weight: 500;
              font-size: 13px;
            }
          }

          .c-new-invoice__amount {
            width: 70%;
            display: flex;
            justify-content: flex-end;

            span {
              font-size: 13px;
            }
          }
        }
      }
    }

    .c-new-invoice__terms {
      width: 100%;
      padding-top: 40px;
      display: flex;
      flex-direction: column;

      .c-new-invoice__terms--title {
        font-size: 13px;
        color: lightslategrey;
      }

      .c-new-invoice__terms--content {
        font-size: 13px;
      }
    }
  }
}

.c-initial-layout {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  @include transition-ease-in-out;

  @media screen and (max-width: 760px) {
    flex-direction: column;
    height: 100%;
  }

  .c-sign-in__wrapper {
    width: 45%;
    margin-top: 40px;
    overflow-y: scroll;
    padding-bottom: 200px;

    @media screen and (max-width: 760px) {
      width: 100%;
      padding-bottom: 90px;
    }

    .c-sign-in {
      display: flex;
      flex-direction: column;
      align-items: center;

      .c-sign-in__logo {
        margin-bottom: 20px;
      }
  
      .c-sign-in__title {
        margin-bottom: 20px;
        font-size: 1.8em;
        color: $rounded-button-cta-bg-color;
      }
  
      .overlay {
        width: 400px;
  
        @media screen and (max-width: 930px) {
          width: 90%;
        }
  
        #rounded-button {
          width: 100%;
        }

        .rotate-form {
          margin-top: 10px;
          text-align: left;

          .cta {
            color: $link-color;
            cursor: pointer;
          }
        }

        .c-sign-in-form__cta {
          margin-top: 15px;
        }

        .c-sign-in-form__sign-up-cta {
          #rounded-button {
            background: $white;
            color: $rounded-button-cta-bg-color;
            @include transition-ease-in-out;

            &:hover {
              border: 1px solid $rounded-button-cta-bg-color;
            }
          }
        }
      }
    }

    .c-sign-up {
      display: flex;
      flex-direction: column;
      align-items: center;

      .c-sign-up__logo {
        margin-bottom: 20px;
      }
  
      .c-sign-up__title {
        margin-bottom: 20px;
        font-size: 1.8em;
        color: $rounded-button-cta-bg-color;
      }
  
      .overlay {
        width: 400px;
  
        @media screen and (max-width: 930px) {
          width: 90%;
        }
  
        #rounded-button {
          width: 100%;
        }

        .rotate-form {
          margin-top: 10px;
          text-align: left;

          .cta {
            color: $link-color;
            cursor: pointer;
          }
        }

        .c-sign-up-form__cta {
          margin-bottom: 10px;
        }

        .c-sign-up-form__sign-up-cta {
          .c-sign-up-form__already-signed-in {
            margin-bottom: 5px;
          }

          #rounded-button {
            background: $white;
            color: $rounded-button-cta-bg-color;
            @include transition-ease-in-out;

            &:hover {
              border: 1px solid $rounded-button-cta-bg-color;
            }
          }
        }
      }
    }
  }

  .c-initial-layout__sign-in-info {
    width: 55%;
    color: $white;
    // 
    background-color: #0099ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3CradialGradient id='a' cx='800' cy='371' r='42.9%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230099ff'/%3E%3Cstop offset='1' stop-color='%23f4abff'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='800' cy='371' r='18.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237073ff' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%237073ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1600' height='900'/%3E%3Cg fill='none' stroke='%23005ca8' stroke-width='8.1' stroke-miterlimit='10' stroke-opacity='0.59'%3E%3Cpolygon points='2277.4 1152 800-1407-677.4 1152'/%3E%3Cpolygon points='800-1372.9-648.8 1136.5 2248.8 1136.5'/%3E%3Cpolygon points='800-1338.8-620.2 1121.1 2220.2 1121.1'/%3E%3Cpolygon points='800-1304.7-591.6 1105.6 2191.6 1105.6'/%3E%3Cpolygon points='800-1270.6-563 1090.2 2163 1090.2'/%3E%3Cpolygon points='800-1236.5-534.4 1074.7 2134.4 1074.7'/%3E%3Cpolygon points='800-1202.4-505.8 1059.3 2105.8 1059.3'/%3E%3Cpolygon points='800-1168.3-477.2 1043.8 2077.2 1043.8'/%3E%3Cpolygon points='800-1134.2-448.6 1028.4 2048.6 1028.4'/%3E%3Cpolygon points='800-1100.1-420 1012.9 2020 1012.9'/%3E%3Cpolygon points='800-1066-391.4 997.5 1991.4 997.5'/%3E%3Cpolygon points='800-1031.9-362.7 982 1962.7 982'/%3E%3Cpolygon points='800-997.8-334.1 966.6 1934.1 966.6'/%3E%3Cpolygon points='800-963.7-305.5 951.1 1905.5 951.1'/%3E%3Cpolygon points='800-929.6-276.9 935.7 1876.9 935.7'/%3E%3Cpolygon points='800-895.5-248.3 920.2 1848.3 920.2'/%3E%3Cpolygon points='800-861.4-219.7 904.7 1819.7 904.7'/%3E%3Cpolygon points='800-827.3-191.1 889.3 1791.1 889.3'/%3E%3Cpolygon points='800-793.2-162.5 873.8 1762.5 873.8'/%3E%3Cpolygon points='800-759.1-133.9 858.4 1733.9 858.4'/%3E%3Cpolygon points='800-725-105.3 842.9 1705.3 842.9'/%3E%3Cpolygon points='800-690.9-76.7 827.5 1676.7 827.5'/%3E%3Cpolygon points='800-656.8-48.1 812 1648.1 812'/%3E%3Cpolygon points='800-622.7-19.4 796.6 1619.4 796.6'/%3E%3Cpolygon points='800-588.6 9.2 781.1 1590.8 781.1'/%3E%3Cpolygon points='800-554.5 37.8 765.7 1562.2 765.7'/%3E%3Cpolygon points='800-520.5 66.4 750.2 1533.6 750.2'/%3E%3Cpolygon points='800-486.4 95 734.8 1505 734.8'/%3E%3Cpolygon points='800-452.3 123.6 719.3 1476.4 719.3'/%3E%3Cpolygon points='800-418.2 152.2 703.9 1447.8 703.9'/%3E%3Cpolygon points='800-384.1 180.8 688.4 1419.2 688.4'/%3E%3Cpolygon points='800-350 209.4 673 1390.6 673'/%3E%3Cpolygon points='800-315.9 238 657.5 1362 657.5'/%3E%3Cpolygon points='800-281.8 266.6 642 1333.4 642'/%3E%3Cpolygon points='800-247.7 295.2 626.6 1304.8 626.6'/%3E%3Cpolygon points='800-213.6 323.9 611.1 1276.1 611.1'/%3E%3Cpolygon points='800-179.5 352.5 595.7 1247.5 595.7'/%3E%3Cpolygon points='800-145.4 381.1 580.2 1218.9 580.2'/%3E%3Cpolygon points='800-111.3 409.7 564.8 1190.3 564.8'/%3E%3Cpolygon points='800-77.2 438.3 549.3 1161.7 549.3'/%3E%3Cpolygon points='800-43.1 466.9 533.9 1133.1 533.9'/%3E%3Cpolygon points='800-9 495.5 518.4 1104.5 518.4'/%3E%3Cpolygon points='800 25.1 524.1 503 1075.9 503'/%3E%3Cpolygon points='800 59.2 552.7 487.5 1047.3 487.5'/%3E%3Cpolygon points='800 93.3 581.3 472.1 1018.7 472.1'/%3E%3Cpolygon points='800 127.4 609.9 456.6 990.1 456.6'/%3E%3Cpolygon points='800 161.5 638.5 441.2 961.5 441.2'/%3E%3Cpolygon points='800 195.6 667.2 425.7 932.8 425.7'/%3E%3Cpolygon points='800 229.7 695.8 410.2 904.2 410.2'/%3E%3Cpolygon points='800 263.8 724.4 394.8 875.6 394.8'/%3E%3Cpolygon points='800 297.9 753 379.3 847 379.3'/%3E%3Cpolygon points='800 332 781.6 363.9 818.4 363.9'/%3E%3C/g%3E%3Crect fill-opacity='0.59' fill='url(%23b)' width='1600' height='900'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    // 
    display: flex;
    justify-content: center;
    padding-top: 20%;

    @media screen and (max-width: 760px) {
      width: 100%;
      min-height: 450px;
    }

    .c-initial-layout__sign-in-info--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 75%;

      h1 {
        line-height: 40px;
        margin-bottom: 20px;
        font-size: 2.6em;
      }

      h3 {
        font-size: 1.4em;
      }
    }
  }
}
